body {
  background-image: url(https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSuZoUj-EcNdMOHahI0lkf8Y-eIGxZgpnveYQzeqaTYMuXsc3LOvOJrdTzJaN4BqwL_2LE&usqp=CAU);
  background-repeat: no-repeat;
  background-size: cover;
  margin-top: 2%;
}
header {
  margin-left: 40px;
  margin-top: 40px;
}
.card {
  display: flex;
  flex-direction: column;
  width: 20%;
  align-items: center;
  height: 50%;
  padding: 30px;
  backdrop-filter: blur (10px);
  border: 2px solid white;
  border-radius: 20px;
  margin: auto;
}
.cont form {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 30px;
}
.card h3 {
  color: white;
  font-size: 30px;
  font-family: "Times New Roman", Times, serif;
  font-weight: bold;
  margin-top: 10px;
}
input {
  padding: 14px;
  border-radius: 20px;
  border: none;
  padding: 15px 40px;
  border-bottom: 2px solid gray;
  border-top: 0px solid white;
  border-left: 0px solid white;
  border-right: 0px solid white;
}
:placeholder-shown {
  color: rgba(128, 128, 128, 0.418);
}
#dd {
  display: inline-block;
  text-decoration: none;
  font-family: "Times New Roman", Times, serif;
  font-size: 18px;
  color: white;
  padding: 10px 60px;
  border-radius: 30px;
  background-color: rgba(224, 9, 231, 0.726);
  margin-top: 40px;
  box-shadow: 2px 2px 30px rgba(224, 9, 231, 0.726);
}
#dd:nth-of-type(1):hover {
  box-shadow: none;
  color: rgba(66, 0, 70, 0.432);
}
p {
  margin-top: 40px;
  color: white;
  font-family: "Times New Roman", Times, serif;
  font-family: 17px;
}
#ss {
  font-family: "Times New Roman", Times, serif;
  font-family: 17px;
  color: rgba(0, 174, 255, 0.74);
  text-decoration: none;
}

footer {
  margin-top: 0px;
  display: flex;
  justify-content: right;
  gap: 14px;
  margin-right: 40px;
  font-size: 30px;
  transition: 1s;
}
i:hover {
  box-shadow: 2px 2px 30px rgba(224, 9, 231, 0.726);
  border-radius: 4000px;
}
